interactions:
- request:
    body: '{"pptx_template_id": "76770022-08c2-4afb-873d-82674f80e8f5", "presentation":
      {"slides": [{"type": "title", "placeholders": [{"name": "title", "content":
      "Test Title"}, {"name": "subtitle", "content": "Test Subtitle"}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://middleman-ai.com/api/v2/tools/json-to-pptx/execute
  response:
    body:
      string: '{"pptx_url":"https://middlemanprodstorage.blob.core.windows.net/json-to-pptx/cbef319c-4535-4770-aba3-415f7944a799/0bc4341a-2298-46b1-82dc-28e31b39b20a.pptx?st=2025-03-09T07%3A17%3A57Z&se=2025-03-09T08%3A17%3A57Z&sp=r&sv=2025-01-05&sr=b&skoid=8dcbdc05-c59d-4694-9a41-058c0e5b8014&sktid=e62264db-1967-4e8d-bb6f-68e6f0093e0d&skt=2025-03-09T07%3A17%3A57Z&ske=2025-03-10T07%3A17%3A57Z&sks=b&skv=2025-01-05&sig=163wmcPqDebgHdw53s%2BmTBaW%2BKPDtaRt/LTkN/l9LK8%3D"}'
    headers:
      content-type:
      - application/json
      x-middleware-rewrite:
      - https://middleman-backend-prod.internal.blackbush-3c0d02fc.japaneast.azurecontainerapps.io/api/v2/tools/json-to-pptx/execute
    status:
      code: 200
      message: OK
version: 1
