interactions:
- request:
    body: '{"markdown": "# Test Heading\n\n    This is a test markdown document.\n\n    ##
      Section 1\n    - Item 1\n    - Item 2\n    ", "pdf_template_id": "00000000-0000-0000-0000-000000000001"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://middleman-ai.com/api/v1/tools/md-to-pdf
  response:
    body:
      string: '{"error_code":"UNAUTHORIZED","message":"Unauthorized"}'
    headers:
      content-type:
      - application/json
      x-middleware-rewrite:
      - https://middleman-backend-prod.internal.blackbush-3c0d02fc.japaneast.azurecontainerapps.io/api/v1/tools/md-to-pdf
    status:
      code: 401
      message: Unauthorized
version: 1
