interactions:
  - request:
      body:
        '{"markdown": "# Test Heading\n\n    This is a test markdown document.\n\n    ##
        Section 1\n    - Item 1\n    - Item 2\n    ", "docx_template_id": null}'
      headers:
        Content-Type:
          - application/json
        authorization:
          - DUMMY
      method: POST
      uri: https://middleman-ai.com/api/v1/tools/md-to-docx
    response:
      body:
        string:
          '{"docx_url":"https://middleman-ai.com/s/709dd3af/mS9isG3KZB","important_remark_for_user":"The
          URL expires in 1 hour.Please note that you will not be able to download the
          file after it has expired."}'
      headers:
        content-type:
          - application/json
        x-middleware-rewrite:
          - FILTERED
      status:
        code: 200
        message: OK
version: 1
