interactions:
- request:
    body: '{"pptx_template_id": "76770022-08c2-4afb-873d-82674f80e8f5"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://middleman-ai.com/api/v2/tools/json-to-pptx/analyze
  response:
    body:
      string: '{"slides":[{"position":1,"type":"Title","description":"Please use this
        slide to create title slide of presentation","placeholders":[{"name":"title","description":"Presentation
        title"}]},{"position":2,"type":"Common","description":"Please use this slide
        to create content.","placeholders":[{"name":"title","description":"Input slide
        title here"},{"name":"content","description":"Input slide content here"},{"name":"image","description":"Input
        slide image url here"}]}]}'
    headers:
      content-type:
      - application/json
      x-middleware-rewrite:
      - https://middleman-backend-prod.internal.blackbush-3c0d02fc.japaneast.azurecontainerapps.io/api/v2/tools/json-to-pptx/analyze
    status:
      code: 200
      message: OK
version: 1
