interactions:
  - request:
      body: '{"pptx_template_id": "TEMPLATE_ID", "presentation":
        {"slides": [{"type": "title", "placeholders": [{"name": "title", "content":
        "Test Title"}, {"name": "subtitle", "content": "Test Subtitle"}]}]}}'
      headers:
        Content-Type:
          - application/json
        authorization:
          - DUMMY
      method: POST
      uri: https://middleman-ai.com/api/v2/tools/json-to-pptx/execute
    response:
      body:
        string: '{"pptx_url":"https://middleman-ai.com/s/709dd3af/NUEbhdogrO"}'
      headers:
        content-type:
          - application/json
        x-middleware-rewrite:
          - FILTERED
      status:
        code: 200
        message: OK
version: 1
