interactions:
- request:
    body: '{"content": "graph TD\n    A[Start] --> B[Process]\n    B --> C{Decision}\n    C
      -->|Yes| D[End]\n    C -->|No| B"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://middleman-ai.com/api/v1/tools/mermaid-to-image
  response:
    body:
      string: '{"image_url":"https://middleman-ai.com/s/dc6f1fab/2AMlGuC5se","format":"png","important_remark_for_user":"The
        URL expires in 1 hour. Please note that you will not be able to download the
        file after it has expired."}'
    headers:
      content-type:
      - application/json
      x-middleware-rewrite:
      - FILTERED
    status:
      code: 200
      message: OK
version: 1
