interactions:
- request:
    body: '{"pptx_template_id": "0bb238bd-d03a-4f1a-be6f-fe2e0c6e91f7", "presentation":
      {"slides": [{"type": "title", "placeholders": [{"name": "title", "content":
      "Test Title"}, {"name": "subtitle", "content": "Test Subtitle"}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://middleman-ai.com/api/v2/tools/json-to-pptx/execute
  response:
    body:
      string: '{"pptx_url":"https://middlemanprodstorage.blob.core.windows.net/json-to-pptx/1ced2d18-2d55-4db8-8477-553fa9b2cd1f/aaca3dd4-c60c-4bde-99cf-b49768064cb7.pptx?st=2025-02-12T15%3A46%3A00Z&se=2025-02-12T16%3A46%3A00Z&sp=r&sv=2025-01-05&sr=b&skoid=8dcbdc05-c59d-4694-9a41-058c0e5b8014&sktid=e62264db-1967-4e8d-bb6f-68e6f0093e0d&skt=2025-02-12T15%3A46%3A00Z&ske=2025-02-13T15%3A46%3A00Z&sks=b&skv=2025-01-05&sig=HGYpvp2gaNbBzqiY72SmPg1DLDMHwHVyArq9TKI04oA%3D"}'
    headers:
      content-type:
      - application/json
      x-middleware-rewrite:
      - https://middleman-backend-prod.internal.blackbush-3c0d02fc.japaneast.azurecontainerapps.io/api/v2/tools/json-to-pptx/execute
    status:
      code: 200
      message: OK
version: 1
