interactions:
- request:
    body: '{"pptx_template_id": "0bb238bd-d03a-4f1a-be6f-fe2e0c6e91f7", "presentation":
      {"slides": [{"type": "title", "placeholders": [{"name": "title", "content":
      "Test Title"}, {"name": "subtitle", "content": "Test Subtitle"}]}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://middleman-ai.com/api/v2/tools/json-to-pptx/execute
  response:
    body:
      string: '{"detail":"Unauthorized"}'
    headers:
      content-type:
      - application/json
      x-middleware-rewrite:
      - https://middleman-backend-prod.internal.blackbush-3c0d02fc.japaneast.azurecontainerapps.io/api/v2/tools/json-to-pptx/execute
    status:
      code: 401
      message: Unauthorized
version: 1
